<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Tabulous{% endblock %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
{% stylesheets 'bundles/site/tab_site.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
{% endstylesheets %}

</head>
<body>
<div id="templatemo_container">

  <div id="templatemo_header">
      <div id="templatemo_title">
            <div id="templatemo_sitetitle">TAB<span>ULOUS</span></div>
        </div>
    </div>

  <div id="templatemo_banner">
        <div id="templatemo_banner_text">
            <div id="banner_title">Tabulous, we are Fabulous !</div>
            <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt. Duis vitae velit sed dui malesuada dignissim. Donec mollis aliquet ligula. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc quis sem nec tellus blandit tincidunt.
            </p>
      </div>
  </div>
    
    <div id="templatemo_menu">
      <ul>
      <li><a class="btn btn-primary btn-lg" href="{{ path('site_home') }}">Home »</a></li>
      <li> <a class="btn btn-primary btn-lg" href="{{ path('tablature_liste') }}">Tablatures »</a></li>
      <li><a class="btn btn-primary btn-lg" href="">Artistes »</a></li>   
      <li><a class="btn btn-primary btn-lg" href="{{ path('user_register') }}">Register »</a></li> 
      <li>
          <form id="templatemo_login" method="get" action="#">
                <input class="inputfield" name="keyword" type="text" id="keyword"/>
                <input class="button" type="submit" name="Search" value="Search" />
            </form>
         </li>   
        </ul>  
    </div>
    
    <div id="templatemo_content">
    
      <div id="templatemo_left_column">
            <h2>Sign in »</h2>
            <div class="left_col_box">
                <form method="get" action="#">
                  <div class="form_row"><label>Email</label><input class="inputfield" name="email_address" type="text" id="email_addremss"/></div>
                    <div class="form_row"><label>Password</label><input class="inputfield" name="password" type="password" id="password"/></div>
                    <input class="button" type="submit" name="Submit" value="Login" />
                </form>
      </div>
            
            <h2>What's new ?</h2>
            <div class="left_col_box">
                <div class="blog_box">
                    <h3>Last tablatures added :</h3>
                    {{ render(controller("SiteBundle:Site:last_add")) }}
        </div>
                <div class="blog_box">
                    <h3>Last tablatures checked :</h3>
                    {{ render(controller("SiteBundle:Site:last_check")) }}
        </div>
                <div class="blog_box">
                    <h3>Best tablatures rate :</h3>
                    {{ render(controller("SiteBundle:Site:best_rate")) }}
        </div> 
               
      </div>
    </div>
        
        <div id="templatemo_right_column">
          {% block body %}
        {% endblock %}               
            
    </div>
    </div>
    
  <div id="templatemo_footer">
        <a href="#">Home</a> | <a href="#">Videos</a> | <a href="#">Audios</a> | <a href="#">Albums</a> | <a href="#">Artists</a> | <a href="#">Contact</a><br />
        Copyright © <a href="#"><strong>Tabulous Papam</strong></a> 
  </div>
</div>
</body>
</html>