{# src/OC/PlatformBundle/Resources/views/Advert/tablatures.html.twig #}

{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Recherche tablature - {{ parent() }}
{% endblock %}

{% block tabulous_body %}

  <table id="tablature"  cellspacing="4" cellpadding="6"  border="4" class="tab_table">
          <caption><h1>Tablatures</h1></caption>
            <thead> 
               <tr>
             <th>Title</th>
             <th>Artist</th>
             <th>Instrument</th>
             <th>Kind</th>
             <th>Member</th>
             <th>Rate</th>
            </tr>
           </thead>
          <tbody>
    {% for tablature in listTablature %}
       

        <tr align="center">
            <td> <a href="{{ path('tablature_view', {'id': tablature.id}) }}">{{ tablature.nommusique }}</a></td>
            <td><a href="{{ path('artiste_view', {'id': tablature.idartiste.id }) }}"> {{ tablature.idartiste.nom }} </a></td>
            <td><a href="{{ path('artiste_view', {'id': tablature.idinstrument.id }) }}"> {{ tablature.idinstrument.nom }} </a></td>
            <td><a href="{{ path('artiste_view', {'id': tablature.idgenre.id }) }}"> {{ tablature.idgenre.nom }} </a></td>
            <td><a href="{{ path('artiste_view', {'id': tablature.idmembre.id }) }}"> {{ tablature.idmembre.username }} </a></td>
            <td>{{ tablature.moyenne }}</td>
          </tr>
       
    {% else %}
      <p>Pas (encore !) de tablatures</p>
    {% endfor %}
    </tbody></table>
  

{% endblock %}