{# src/OC/PlatformBundle/Resources/views/Advert/tablatures.html.twig #}

{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Consulter une tablature - {{ parent() }}
{% endblock %}

{% block tabulous_body %}

  <ul>
    {% for tablature in listTablature %}
      <li>
        <a href="{{ path('tablature_projet_view', {'id': tablature.id}) }}">
          {{ tablature.title }}
        </a>
        par {{ tablature.author }},
        le {{ tablature.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) de tablatures</li>
    {% endfor %}
  </ul>

{% endblock %}