{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Consultation de tablature - {{ parent() }}
{% endblock %}

{% block tabulous_body %}

  <h1>- {{ tab.nomMusique }} -</h1>
  <i>Par {{ tab.idArtiste.getNom() }}, notée {{ tab.moyenne }}</i>

  <div class="well">
    {{ tab.format }}
  </div>

  <p>
    <a href="{{ path('tablature_liste') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}