{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Consultation de tablature - {{ parent() }}
{% endblock %}

{% block tabulous_body %}

  <h2>{{ tablature.title }}</h2>
  <i>Par {{ tablature.author }}, le {{ tablature.date|date('d/m/Y') }}</i>

  <div class="well">
    {{ tablature.content }}
  </div>

  <p>
    <a href="{{ path('tablature_projet_home') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à la liste
    </a>
    <a href="" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Modifier l'annonce
    </a>
    <a href="" class="btn btn-danger">
      <i class="glyphicon glyphicon-trash"></i>
      Supprimer l'annonce
    </a>
  </p>

{% endblock %}