{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "SiteBundle::layout.html.twig" %}

{% block title %}
  Consultation de tablature - {{ parent() }}
{% endblock %}

{% block tabulous_body %}

  <h1>- {{ tab.nomMusique }} -</h1>
  <i>Par <a href="{{ path('artiste_view', {'id': tab.idartiste.id }) }}">{{ tab.idArtiste.getNom() }}</a>, notée {{ tab.moyenne }}</i>

  <div class="well">
    {{ tab.format }}
  </div>

  <p>
    <a href="{{ path('tablature_liste') }}" class="btn btn-default">
      Retour à la liste »
    </a>
  </p>

{% endblock %}